@media screen and (max-width: 660px){
    .connection {
        background-color: #ecc558;
        margin-bottom: 0;
        top: 82px;
        position: absolute;
    }
    .meta{
        position: relative;
        top: 250px;
    }
    footer{
        position: relative;
        top: 300px;
    }
    }
    

@media screen and (max-width: 300px){
    .connection {
        display: block;
        position: absolute;
        top: 57px;
    }
}
@media screen and (min-width: 300px) and (max-width: 350px){
    .connection
    {
        position: absolute;
        top: 59px;
    }
}