body{
    background-image: url("../img/inscription.jpg");
}

#btnProfil:focus{
    border: 5px solid #6d3e24 ;
} 
#btnProfil:hover{
    
    background-color: #a37132;
}
#date{
    background-color: #ecc558;
    border: 2px solid rgb(107, 107, 107);
}
/* #date > input{
margin: 0;
} */
.btnFlex{
    margin-bottom: 100px;
}
.btnFlex > div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
h2{
    
    align-self: center;
}
select{
    margin-top: 30px;
    margin-bottom: 30px;
}
footer{
    text-align: center;
    position: absolute;
    width: 100%;
}