body{
    background-image: url("../img/shenna.jpg");
}
header > h1{
    background-color: #ecc558;
    margin: 0;
}
.caracteristique > p, .description > p{
    text-align: center;
    margin: 30px;
}
footer{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
