@media screen and (max-width: 1200px) {
    .connection{
        flex-flow: row wrap;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .enter {
      display: flex;
      flex-direction: column;
     
    
    }
    .enter > h2{
        width: 100%;
    }
  }
  @media screen and (max-width: 660px) {
      .connection{
           background-color: #ecc558;
           margin-bottom: 0;
      }
   .meta > h1 , .meta > h2{
       font-size: 1.8em;
   }
    p{
        font-size: 0.8em;
    }
    .enter{
        flex-flow: row wrap;
         background-color: #ecc558;
         opacity: 0.9;
    }
    input, #date{
        background-color: #a37132;
        width: 90%;
    }
    form{
        flex-direction: column;
    }
}
  @media screen and (max-width: 500px) {
    h1, h2{
        font-size:1.4em;
        align-self: center;
    }
    .diplayFlexAnnonce{
        display: none;
    }
  }
  @media screen and (max-width: 350px) {
   .connection{
        display: block;
    }
.icon img{
    width: 30px;
}
.menu{
    width: 100%;
}
nav{
    display: block;
}
footer{
    flex-flow: column wrap;
}
}
@media screen and (max-width: 300px) {
    .meta > h1 , .meta > h2{
        font-size: 0.9em;
        width: 90%;
    }
    .meta > p{
        width: 80%;
        margin: 20px;
    }
    input{
        width: 80%;
    }
    select{
        width: 90%;
    }
   .icon a{
        font-size: 0.66em;
        }
        h4 {
            font-size: 14px;
        }
        h3{
            font-size: 20px;
        }
}