
body{
    padding: 0;
    margin: 0;
    background-image: url("../img/accueil.jpg");
    background-repeat: no-repeat;
    background-color: #b5d293;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 100%; */
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #ecc558;
    width: 100%;
    padding-top: 10px;
}
.menu{
    display: flex;
    width: 300px;
    justify-content: space-around;
    position: relative;
    left: 0px;
}
.icon img{
    width: 50px;
}
.icon{
  width: 50px;
}
.smallImg{
    width: 130px;
    position: relative;
}
.smallImg > img {
    position: relative;;
    width: 130px;
}
/*///////////////////////text////////////////////////*/
/*titre*/
h1{
    font-size: 65px;
    margin: 0;
}
h2{
    font-size: 45px;
}
h3{
    font-size:35px;
}
h4{
    font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-family: gloriaHallelujah;
    color: #4f4f4f;
    margin: 5px;
}
h3 , h4 , h5 , h6, p{
    color: #ffffff;
}
/* ////////////////////////fin titre///////////////////////////////////////////////*/

p{
    font-family: concertOne;
    font-size: 16px;
    margin: 0;
}
.meta > p{
    width: 250px;
    margin: auto;
}
a{
    color: #ffffff;
    text-decoration: none;
   
    font-size: 16px;
    font-family: concertOne;
}
label{
    color: #ffffff;
}
input{
    background-color: #ecc558;
    margin: 10px;
}
::-webkit-input-placeholder{
    color: #ffffff;
}
.btn{
    background-color: #a37132;
    padding: 8px;
    color: #ffffff;
    border-radius: 5px;
}
.btn:hover{
    background-color:#6d3e24 ;
}
#dark:hover{
    background-color:#a37132 ;
}
#dark{
    background-color:#6d3e24;
    margin-bottom: 20px;
}
.connection{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.8;
   
}
form{
    display: flex;
    justify-content: center;
}
.enter{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.btnFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
/*footer*/
.diplayFlexAnnonce{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
article > p{
    position: absolute;
    width: 100%;
}
article{
    padding: 0.7rem;
}
/* .footerTextur{
    background-image: url("../maquette/texture/textureAccentuéeEtDésaturée/peau-cheval-texture.jpg");
} */
footer{
    background-color:#6d3e24;
    padding-top: 20px;
    padding-bottom: 20px;
}

